<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>IoT Data Report</title>
</head>
<body>
    <h1>Generate IoT Data Report</h1>
    <form method="POST">
        <label for="query">Enter your query:</label><br><br>
        <input type="text" id="query" name="query" required><br><br>
        <input type="submit" value="Generate Report">
    </form>
    
    {% if plot_file %}
    <hr>
    <h1>Report Results</h1>
    

    <!-- Display Binary Data Results -->
    <h2>Binary Data</h2>
    {% for param, plot_url in plot_file.items() %}
    {% if param in binary_params %}
        <h3>Parameter: {{ param }}</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Count 0</th>
                    <th>Count 1</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in resampled_data[param] %}
                    <tr>
                        <td>{{ entry['time'] }}</td>
                        <td>{{ entry['count_0'] }}</td>
                        <td>{{ entry['count_1'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Plot</h3>
        <img src="data:image/png;base64,{{ plot_url }}" alt="Plot for {{ param }}", width="800">
    {% endif %}
    {% endfor %}
    
    <hr>
    <!-- Display Decimal Data Results -->
    <h2>Decimal Data</h2>
    {% for param, plot_url in plot_file.items() %}
    {% if param in decimal_params %}
        <h3>Parameter: {{ param }}</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Min</th>
                    <th>Mean</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in resampled_data[param] %}
                    <tr>
                        <td>{{ entry['time'] }}</td>
                        <td>{{ entry['min'] }}</td>
                        <td>{{ entry['mean'] }}</td>
                        <td>{{ entry['max'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Plot</h3>
        <img src="data:image/png;base64,{{ plot_url }}" alt="Plot for {{ param }}", width="800">
    {% endif %}
    {% endfor %}
    <h2>JSON Format</h2>
    <div>{{ resampled_data }}</div>
    {% endif %}
</body>
</html>
